<input
  #initiative
  [disabled]="isInitiativeInputDisabled"
  class="initiative"
  type="number"
  placeholder="Nat 20!"
  value=""
  max="70"
  (keyup.enter)="sendInitiative(initiative.value)"
/>

<button (click)="sendInitiative(initiative.value)">Fight!</button>

<mat-form-field class="dexterity-mod">
  <mat-label>Dexterity Modifier</mat-label>
  <input [(ngModel)]="dexterityModifier" matInput type="number" />
</mat-form-field>

<section>
  <span>
    <ul>
      <li>
        <mat-checkbox [(ngModel)]="alertFeat"> Alert Feat </mat-checkbox>
      </li>
    </ul>
  </span>
</section>
