<div>
  <button mat-fab extended (click)="addCharacterForm()">
    <mat-icon>add</mat-icon>
    Add Character
  </button>
  <table
    mat-table
    [dataSource]="characterForm"
    multiTemplateDataRows
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>In play</th>
      <td mat-cell *matCellDef="let row">
        <mat-radio-button
          [disabled]="!row.characterId"
          (click)="$event.stopPropagation()"
          (change)="$event ? toggleCharacterSelect(row) : null"
          [checked]="isSelected(row)"
        >
        </mat-radio-button>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="characterName">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.characterName }}</td>
    </ng-container>

    <!-- dexterityModifier Column -->
    <ng-container matColumnDef="dexterityModifier">
      <th mat-header-cell *matHeaderCellDef>Dex</th>
      <td mat-cell *matCellDef="let element">{{ element.dexterityModifier }}</td>
    </ng-container>

    <!-- dexterityModifier Column -->
    <ng-container matColumnDef="hasAlertFeat">
      <th mat-header-cell *matHeaderCellDef><mat-icon>crisis_alert</mat-icon></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>{{ element.hasAlertFeat ? 'check_small' : 'close' }}</mat-icon>
      </td>
    </ng-container>

    <!-- dexterityModifier Column -->
    <ng-container matColumnDef="hasLuckStone">
      <th mat-header-cell *matHeaderCellDef>LS</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>{{ element.hasLuckStone ? 'check_small' : 'close' }}</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          aria-label="expand row"
          (click)="
            expandedElement = expandedElement === element ? null : element;
            $event.stopPropagation()
          "
        >
          @if (expandedElement === element) {
            <mat-icon>keyboard_arrow_up</mat-icon>
          } @else {
            <mat-icon>keyboard_arrow_down</mat-icon>
          }
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let char"
        [attr.colspan]="columnsToDisplayWithExpand.length"
      >
        <div
          [class.element-detail]="char == expandedElement"
          [@detailExpand]="char == expandedElement ? 'expanded' : 'collapsed'"
        >
          <div [formGroup]="char.formGroup">
            <input type="hidden" formControlName="PlayerCharacterId" />
            <mat-form-field class="initiatve-input">
              <mat-label>Character name</mat-label>
              <input formControlName="CharacterName" matInput type="text" />
            </mat-form-field>
            <mat-form-field class="dexterity-mod">
              <mat-label>Dexterity Modifier</mat-label>
              <input formControlName="DexterityModifier" matInput type="number" />
            </mat-form-field>

            <section>
              <h4>Bonuses</h4>
              <span>
                <ul class="init-bonuses">
                  <li>
                    <mat-slide-toggle formControlName="HasAlertFeat">
                      Alert Feat
                    </mat-slide-toggle>
                  </li>
                  <li>
                    <mat-slide-toggle formControlName="HasLuckStone">
                      Stone of Good Luck (Luckstone)</mat-slide-toggle
                    >
                  </li>
                </ul>
              </span>
            </section>
            <div class="flex-container">
              <button class="flex-item" mat-fab (click)="deleteCharacter(char)">
                <mat-icon>delete</mat-icon>
              </button>
              <button
                class="flex-item"
                *ngIf="!char.characterId"
                mat-fab
                extended
                (click)="createCharacter(char)"
              >
                <mat-icon>save</mat-icon>
                Create Character
              </button>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplayWithExpand"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>

  <!--------------------->
</div>
