<div>
  <button mat-fab extended (click)="addCharacterForm()">
    <mat-icon>add</mat-icon>
    Add Character
  </button>
  <mat-expansion-panel
    *ngFor="let char of characterForm; let i = index"
    [expanded]="!char.characterId"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ char.characterName.value }}
      </mat-panel-title>
      <mat-panel-description>
        {{ getCharacterSummary(char.formGroup) }}
        <span *ngIf="char.hasAlertFeat.value"
          >|
          <mat-icon
            aria-hidden="false"
            aria-label="Alert Feat"
            fontIcon="crisis_alert"
          ></mat-icon>
        </span>
        <span *ngIf="char.hasLuckStone.value">| LS</span>
        <mat-spinner diameter="30" *ngIf="char.isUpdating"></mat-spinner>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div [formGroup]="char.formGroup">
      <input type="hidden" formControlName="PlayerCharacterId" />
      <mat-form-field class="initiatve-input">
        <mat-label>Character name</mat-label>
        <input formControlName="CharacterName" matInput type="text" />
      </mat-form-field>
      <mat-form-field class="dexterity-mod">
        <mat-label>Dexterity Modifier</mat-label>
        <input formControlName="DexterityModifier" matInput type="number" />
      </mat-form-field>

      <section>
        <h4>Bonuses</h4>
        <span>
          <ul class="init-bonuses">
            <li>
              <mat-slide-toggle formControlName="HasAlertFeat">
                Alert Feat
              </mat-slide-toggle>
            </li>
            <li>
              <mat-slide-toggle formControlName="HasLuckStone">
                Stone of Good Luck (Luckstone)</mat-slide-toggle
              >
            </li>
          </ul>
        </span>
        <!-- {{ chars.value | json }} -->
      </section>
      <button *ngIf="!char.characterId" mat-fab extended (click)="createCharacter(char)">
        <mat-icon>save</mat-icon>
        Create Character
      </button>
      <button mat-fab (click)="deleteCharacter(char)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</div>
