[Unit]
Description=YAIT Signal Server
After=network.target

[Service]
ExecStart=/usr/bin/node /var/www/yait/backend/signal-server/bundle.js
Restart=always
User=gary
Group=gary
Environment=NODE_ENV=production
WorkingDirectory=/var/www/yait/backend/signal-server

[Install]
WantedBy=multi-user.target