<!-- 
  Todo: Add a countdown option per turn?
  Possibly in the form of a progress bar?

  Todo: Expand row to show how total was calculated.
  flat roll + dex + bonuses + feats, etc
-->

<room *ngIf="!(roomId$ | async)" (onJoinRoom)="onJoinRoom($event)"></room>

@if (roomId$ | async; as hasJoinedRoom) {
  <p>RoomId: {{ roomId$ | async }}</p>
  <div class="action-button-container">
    <button
      class="action-butons-flex-item"
      mat-fab
      extended
      (click)="sendTurnFinishedMessage()"
      [disabled]="turnFinishedButtonEnabled$ | async"
    >
      <mat-icon></mat-icon>
      End Turn
    </button>
    <button class="action-butons-flex-item" mat-fab extended (click)="leaveRoom()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Leave Room</span>
    </button>
  </div>
  <table mat-table [dataSource]="initiatives" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef>Player</th>
      <td mat-cell *matCellDef="let element">
        <span class="player-character-name">{{
          element.playerCharacterName | async
        }}</span>
        <span class="display-name">{{ element.displayName | async }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="initiativeValue">
      <th mat-header-cell *matHeaderCellDef>Initiative</th>
      <td mat-cell *matCellDef="let element">
        {{ element.initiativeValue }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- <table mat-table [dataSource]="spectators" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef>Player</th>
      <td mat-cell *matCellDef="let element">
        <span class="player-character-name">{{
          element.playerCharacterName | async
        }}</span>
        <span class="display-name">{{ element.displayName | async }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="initiativeValue">
      <th mat-header-cell *matHeaderCellDef>Initiative</th>
      <td mat-cell *matCellDef="let element">
        {{ element.initiativeValue }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table> -->

  <spectator-list></spectator-list>
}
