<p>login works!</p>
<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
  <ul *ngIf="auth.user$ | async as user">
    <li>{{ user.name }}</li>
    <li>{{ user.email }}</li>    
    <li>{{ user.sub }}</li>

    <li>{{parse(user)}}</li>
  </ul>
  <button
    (click)="auth.logout({ logoutParams: { returnTo: 'http://localhost:4200/room' } })"
  >
    Log out
  </button>
</ng-container>

<ng-template #loggedOut>
  <button (click)="auth.loginWithRedirect()">Log in</button>
</ng-template>
