<h2>{{ displayName }}</h2>
<input
  [disabled]="isInitiativeInputDisabled"
  class="initiative"
  type="number"
  placeholder="20"
  autofocus
  [(ngModel)]="initiativeValue"
  max="70"
  (keyup)="onInitiativeKeyUp(initiativeValue)"
  (keyup.enter)="sendInitiative(initiativeValue)"
/>

<button (click)="sendInitiative(initiativeValue)">Fight!</button>

<mat-form-field class="dexterity-mod">
  <mat-label>Dexterity Modifier</mat-label>
  <input [(ngModel)]="dexterityModifier" matInput type="number" />
</mat-form-field>

<section>
  <span>
    <ul>
      <li>
        <mat-checkbox [(ngModel)]="alertFeat"> Alert Feat </mat-checkbox>
      </li>
      <li>
        <mat-checkbox [(ngModel)]="luckStone">
          Stone of Good Luck (Luckstone)</mat-checkbox
        >
      </li>
    </ul>
  </span>
</section>
