<div>
  <p>RoomId: {{ roomId | async }}</p>
  <p>PeerId: {{ myPeerId | async }}</p>
  <ul *ngIf="auth.user$ | async as user">
    <li>{{ user.name }}</li>
    <li>{{ user.email }}</li>
  </ul>
  <mat-form-field class="initiatve-input">
    <mat-label>Character name</mat-label>
    <input [(ngModel)]="displayName" matInput type="text" />
  </mat-form-field>
  <button mat-flat-button color="primary" [disabled]="!displayName" (click)="joinRoom()">
    Join Room
  </button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="!displayName"
    (click)="createRoom()"
  >
    Create Room
  </button>

  <button
    mat-flat-button
    color="primary"
    [disabled]="!myPeerId && !roomId"
    (click)="leaveRoom()"
  >
    Leave Room
  </button>
</div>
<div>
  <input #message type="number" placeholder="Type a message" />
  <button (click)="sendMessage(message.value)">Send</button>
</div>
<div>
  <h3>Received Messages:</h3>
  <ul>
    <li *ngFor="let msg of messageStream">
      <b>{{ msg.displayName }} :</b>{{ msg.diceRoll }}
    </li>
  </ul>
</div>
