<div>
  <div class="flex-container">
    <div class="flex-container flex-item card">
      <mat-form-field class="flex-item">
        <mat-label>Room Code</mat-label>
        <input [(ngModel)]="roomCode" matInput placeholder="Ex. l33tdnd" />
      </mat-form-field>
      <button
        class="flex-item"
        mat-flat-button
        color="primary"
        (click)="joinRoom(roomCode)"
        [disabled]="!roomCode"
      >
        Join Room
      </button>
      <mat-slide-toggle>Just spectating?</mat-slide-toggle>
      <div class="flex-item">Join your friends room!</div>
    </div>

    <div class="flex-container flex-item card">
      <button class="flex-item" mat-flat-button color="primary" (click)="createRoom()">
        Create Room
      </button>
      <div class="flex-item">Make a brand new room!</div>
    </div>
  </div>
</div>

<div>
  <!-- <input #message type="number" placeholder="Type a message" />
  <button (click)="sendMessage(message.value)">Send</button> -->
</div>
