@if ((roomId | async) == '') {
  <div>
    <div class="flex-container">
      <div class="flex-container flex-item card">
        <mat-form-field class="flex-item">
          <mat-label>Room Code</mat-label>
          <input [(ngModel)]="roomCode" matInput placeholder="Ex. l33tdnd" />
        </mat-form-field>
        <button
          class="flex-item"
          mat-flat-button
          color="primary"
          (click)="joinRoomWithCode(roomCode)"
          [disabled]="!roomCode"
        >
          Join Room
        </button>
        <mat-slide-toggle
          [checked]="isSpectator"
          (change)="isSpectatorChange($event.checked)"
          >Just spectating?</mat-slide-toggle
        >
        <div class="flex-item">Join your friends room!</div>
      </div>

      <div class="flex-container flex-item card">
        <button class="flex-item" mat-flat-button color="primary" (click)="createRoom()">
          Create Room
        </button>
        <div class="flex-item">Make a brand new room!</div>
      </div>
    </div>
  </div>
} @else {
  <p>RoomId: {{ roomId | async }}</p>
  <initiative-list [peerList]="peerList"></initiative-list>
}
