.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  max-width: 375px;
  margin: 0 auto;
}

.flex-item {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin: 10px;

  button {
    width: 150px;
  }
}

mat-form-field {
  margin-bottom: -20px;
}

.card {
  border: 1px solid gray;
  border-radius: 10px;
  width: 250px;
  padding: 15px 0;
}
