<div>
  <p>RoomId: {{ roomId | async }}</p>
  <p>PeerId: {{ myPeerId | async }}</p>

  <button mat-flat-button color="primary" (click)="joinRoom()">Join Room</button>
  <button mat-flat-button color="primary" (click)="createRoom()">Create Room</button>

  <button
    mat-flat-button
    color="primary"
    [disabled]="!myPeerId && !roomId"
    (click)="leaveRoom()"
  >
    Leave Room
  </button>
</div>
<div>
  <input #message type="number" placeholder="Type a message" />
  <button (click)="sendMessage(message.value)">Send</button>
</div>
