.nav-title {
  display: none;
  text-align: center;
}

.mat-mdc-list-item-unscoped-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

a[mat-list-item] .nav-wrapper {
  display: flex;
}

.nav-label {
  margin-left: 10px;
}

mat-sidenav {
  width: 210px;
}

@media screen and (max-width: 550px) {
  .nav-title {
    display: block;
  }
}
