<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h2>{{ componentTitle }}</h2>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="true"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="/user/"
          routerLinkActive="active"
          (click)="activeLink = roomUrl"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Room Manager"
            fontIcon="person"
          ></mat-icon>
          <span class="nav-label">Account</span>
        </a>

        <a
          mat-list-item
          routerLink="/init/"
          routerLinkActive="active"
          (click)="activeLink = '/init'"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Initiative Tracker"
            fontIcon="casino"
          ></mat-icon>
          <span class="nav-label">Initiative Tracker</span>
        </a>
        <a
          mat-list-item
          routerLink="/character/"
          routerLinkActive="active"
          (click)="activeLink = '/character'"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Character Manager"
            fontIcon="groups"
          ></mat-icon>
          <span class="nav-label">Character Manager</span>
        </a>
        <a
          mat-list-item
          routerLink="/order/"
          routerLinkActive="active"
          (click)="activeLink = '/character'"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Initiative Order"
            fontIcon="table_chart"
          ></mat-icon>
          <span class="nav-label">Initative Order</span>
        </a>
        @if (auth0.isAuthenticated$ | async) {
          <a mat-list-item (click)="logout()">
            <mat-icon
              aria-hidden="false"
              aria-label="Log Out"
              fontIcon="logout"
            ></mat-icon>
            <span class="nav-label">Log Out</span>
          </a>
        } @else {
          <a mat-list-item (click)="auth0.loginWithRedirect()">
            <mat-icon aria-hidden="false" aria-label="Login" fontIcon="login"></mat-icon>
            <span class="nav-label">Login</span>
          </a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <!-- (activate)="onActivate($event)" -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
